 # Data Science Tools and Ecosystem

 In this notebook ,Data science tools and Ecosystem are summarized

some of the popular languages that data scientists use are:
1. R language 
2. MYSQL
3. Python
4. scala 
5. Julia

some of the commonly used data science libraries used by the data scientists is as follows:

1. scikit-learn
2. tensorflow
3. pytorch
4. numpy
5. scipy
6. matplotlib
7. pandas

following are the data science tools:

| Data science Tools |
| --------------------- |
| Open source Tools  |
| commercial tools |
| cloud based tools |

### below are the few examples of evaluating arithmetic expression in python

In [1]:
# this is a simple arithmetic expression to multiply then dd integers.
(3*4)+5

17

In [2]:
# following line will convert 200 minutes to hours by dividing by 60.
print(200/60)

3.3333333333333335

***objectives***
- we learn about categories of data science tools
- python, java, SQL ,R are the popular languages used for data science
- numpy,scipy,pytorch,matplotlib etc are the various libraries used in data science

## Author
   sakshi chougale